* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  margin-top: 200px;
  background-color: white;
  width: 500px;
  min-height: 250px;
  height: fit-content;
  border-radius: 10px;
}

h1 {
  color: cadetblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-value {
  display: flex;
  width: max-content;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  width: 330px;
  border-radius: 5px;
}

.value-submit {
  width: 70px;
  background-color: rgb(140, 215, 218);
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.4s linear;
}

.value-submit:hover {
  background-color: rgb(77, 150, 152);
  color: white;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.space:hover {
  background-color: azure;
}

.result-value {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}

.icons {
  display: flex;
  gap: 10px;
}

.edit-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: rgb(130, 195, 33);
  cursor: pointer;
  padding: 10px;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.edit-button:hover {
  background-color: rgba(130, 195, 33, 0.4);
}

.trash-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: red;
  cursor: pointer;
  padding: 10px;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.trash-button:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.footer {
  display: flex;
  justify-content: center;
}

.clear-value {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.clear-value:hover {
  background-color: rgba(255, 0, 0, 0.4);
}
